body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
}

/* ==============
Typography 
============== */

h1,
h2,
h3 {
  font-weight: 400;
  font-family: "Lora", serif;
  color: #143774;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}

p {
  color: #707070;
}

strong {
  font-weight: 700;
}

.subtitle {
  margin-top: 0;
  font-size: 0.75rem;
  color: #1792d2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.article-title {
  font-size: 1.5rem;
}

.article-body {
  font-size: 1.125rem;
}

.article-info,
.article-read-more {
  font-size: 0.875rem;
}

.article-read-more {
  font-weight: 700;
  text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus {
  text-decoration: underline;
}

/* ==============
Layout 
============== */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
  outline: none;
}

.current-page {
  border-bottom: gray 1px solid;
}

.current-page:hover {
  color: #707070;
}

.logo {
  text-align: center;
}

@media (max-width: 750px) {
  .header-container {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav li {
    margin: 0.5em;
  }
}
